<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo"><img src="./assets/Logo.PNG" alt="Logo" ></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">

      <li><a routerLink="/">Inicio</a></li>
      <li><a href="badges.html">Nosotros</a></li>
      <li><a href="collapsible.html">Contacto</a></li>
      <li><a href="collapsible.html">Servicios</a></li>
      <li><a routerLink="seguridad/iniciar-sesion">Iniciar sesión</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">Sass</a></li>
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">Javascript</a></li>
  <li><a routerLink="seguridad/iniciar-sesion">Iniciar sesión</a></li>
</ul>