<section class="hero">
    <div class="hero-inner">
        <h1>Costruya con nosotros</h1>
        <h2>Su nueva casa hoy</h2>
        <a class="waves-effect waves-teal btn blue accent-2" routerLink="../servicios">Proyectos</a>
    </div>
</section>

<div class="container">
    <h4>Algunos de nuestros proyectos</h4>
    <table>
        <tr>
            <td>
                <img class="responsive-img" src="../../../assets/imagenes/Proyecto 1.jpg">
            </td>
            <td>
                <img class="responsive-img" src="../../../assets/imagenes/Proyecto 1.jpg">
            </td>
        </tr>
    </table>
</div>