<div class="container">
    <div class="row">
        <div id="texto-contacto" class="col s6">
            <h5 id="titulo-contacto">Información de Contacto</h5>
            <h6 id="texto-resaltado">Informes a:</h6>
            <p>+57 321 7756506</p>
            <p>+57 316 8564764</p>
            <p>+57 322 6024911</p>
            <h6>E-mail:</h6>
            <p>jeffrey.1701810987@ucaldas.edu.co</p>
            <h6 id="texto-resaltado">Ubicación:</h6>
            <p>Carrera 27 # 14-30 Manizales</p>
        </div>
        <div id="texto-contacto" class="col s6">
            <h5 id="titulo-contacto">Horarios de Atención</h5>
            <h6 id="texto-resaltado">Atención sala de ventas:</h6>
            <p>Lunes a viernes 9:00 am a 12 pm
                y de 2:00 pm a 5:00 pm
            </p>
            <p>Sábados, domingos y festivos de
                9:00 am a 5:00 pm jornada continua</p>
            <h6 id="texto-resaltado">Atención oficina:</h6>
            <p>Lunes a Viernes: 8:00 am a 3pm
                jornada continua</p>
        </div>
    </div>
</div>