<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h4 id="titulo-pagina" class="header">Apartamentos Mirador de Villa Pilar</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s5 center-align">
            <h5 id="titulo-pagina">
                Vive la tranquilidad
            </h5>
            <p id="texto-informacion">Mirador de Villa Pilar es un nuevo proyecto urbanístico en la ciudad de Manizales, los amplios espacios verdes y el fácil acceso al transporte público convierten este proyecto en una gran alternativa para vivir o para invertir.</p>
        </div>
        <div class="col s7">
            <img class="materialboxed responsive-img" width="650" src="../../../../../assets/imagenes/Proyecto 1.jpg">
        </div>

    </div>
    <div class="row">
        <div class="col s12">
            <div class="col s4 center-align">
                <h4 id="titulo-pagina"><strong>Conjunto Cerrado</strong></h4>
                <h5><strong>Con todas las comodidades</strong></h5>
            </div>
            <div class="col s4 center-align">
                <h4 id="titulo-pagina"><strong>Juegos Infantiles</strong></h4>
                <h5><strong>Donde tus hijos se pueden divertir</strong></h5>
            </div>
            <div class="col s4 center-align">
                <h4 id="titulo-pagina"><strong>Zonas Verdes</strong></h4>
                <h5><strong>Allí puedes respirar aire fresco</strong></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="slider">
                <ul class="slides">
                  <li>
                    <img src="../../../../../assets/imagenes/ProyectoInterior1_1.jpg">
                  </li>
                  <li>
                    <img src="../../../../../assets/imagenes/ProyectoInterior1_2.jpg">
                  </li>
                  <li>
                    <img src="../../../../../assets/imagenes/ProyectoInterior1_3.jpg">
                  </li>
                </ul>
              </div>
        </div>
    </div>
</div>
