<div class="row">
    <form class="col s12" [formGroup]="fgValidador" (ngSubmit)="GuardadRegistro()">
        <div class="row">
            <div class="input-field col s12">
                <input formControlName="nombre" id="nombre_proyecto" type="text" class="validate">
                <label for="nombre">Nombre del proyecto</label>
            </div>
            <div class="input-field col s12">
                <input formControlName="descripcion" id="descripcion_proyecto" type="text" class="validate">
                <label for="descripcion">Descripcion del proyecto</label>
            </div>
            <div class="input-field col s12">
                <input formControlName="imagen" id="imagen_proyecto" type="text" class="validate">
                <label for="imagen">Imagen del proyecto</label>
            </div>
            <div class="input-field col s12">
                <input formControlName="ciudadId" id="ciudad_proyecto" type="text" class="validate">
                <label for="ciudadId">Ciudad del proyecto</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button class="waves-effect waves-tide btn" type="submit" name="action">Guardar
                    <i class="material-icons right">save</i>
                </button>
                &nbsp;&nbsp;
                <a class="waves-effect waves-tide btn" routerLink="/parametrizacion/listar-proyectos"><i
                        class="material-icons right">cancel</i> Cancelar</a>
            </div>
        </div>
    </form>
</div>