<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h4 id="titulo-pagina" class="header">Apartamentos Altos de Palogrande</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s5 center-align">
            <h5 id="titulo-pagina">
                Comodidad y Elegancia
            </h5>
            <p id="texto-informacion">Este es un proyecto que busca llevar la elegancia y la comodidad a otro nivel. En Altos de Palogrande sus compradores podrán vivir a pocas cuadras del Centro de Negocios de Manizales, a unos cuantos minutos de las principales universidades de la ciudad y además estará cerca de creciente Zona Gastronómica.</p>
        </div>
        <div class="col s7">
            <img class="materialboxed responsive-img" width="650" src="../../../../../assets/imagenes/Proyecto 2.jpg">
        </div>

    </div>
    <div class="row">
        <div class="col s12">
            <div class="col s4 center-align">
                <h4 id="titulo-pagina"><strong>Cancha Sintética</strong></h4>
                <h5><strong>Donde puedes realizar ejercicio y deporte</strong></h5>
            </div>
            <div class="col s4 center-align">
                <h4 id="titulo-pagina"><strong>Ascensor</strong></h4>
                <h5><strong>Para desplazarte de manera rápida y segura</strong></h5>
            </div>
            <div class="col s4 center-align">
                <h4 id="titulo-pagina"><strong>Ubicación</strong></h4>
                <h5><strong>Cuenta con una ubicación estratégica en la ciudad</strong></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="slider">
                <ul class="slides">
                  <li>
                    <img src="../../../../../assets/imagenes/ProyectoInterior2_1.jpg">
                  </li>
                  <li>
                    <img src="../../../../../assets/imagenes/ProyectoInterior2_2.jpg">
                  </li>
                  <li>
                    <img src="../../../../../assets/imagenes/ProyectoInterior2_3.jpg">
                  </li>
                </ul>
              </div>
        </div>
    </div>
</div>
