<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h4 id="titulo-pagina" class="header">Apartamento Árnika</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s5 center-align">
            <h5 id="titulo-pagina">
                Vive los atardeceres
            </h5>
            <p id="texto-informacion">Es un proyecto ubicado, en una de las zonas con mejor vista de la Ciudad, un proyecto Inspirador conectado con la Naturaleza, pensado para satisfacer las necesidades del mercado y aprovechar al máximo las características ambientales y sociales que lo rodean.</p>
        </div>
        <div class="col s7">
            <img class="materialboxed responsive-img" width="650" src="../../../../../assets/imagenes/Proyecto 3.jpg">
        </div>

    </div>
    <div class="row">
        <div class="col s12">
            <div class="col s4 center-align">
                <h4 id="titulo-pagina"><strong>Gimnasio</strong></h4>
                <h5><strong>Donde puedes realizar ejercicio y deporte</strong></h5>
            </div>
            <div class="col s4 center-align">
                <h4 id="titulo-pagina"><strong>Juegos Infantiles</strong></h4>
                <h5><strong>Donde tus hijos se pueden divertir</strong></h5>
            </div>
            <div class="col s4 center-align">
                <h4 id="titulo-pagina"><strong>Zonas BBQ</strong></h4>
                <h5><strong>Donde puedes disfrutar de los mejores asados entre familia y amigos</strong></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="slider">
                <ul class="slides">
                  <li>
                    <img src="../../../../../assets/imagenes/ProyectoInterior3_1.jpg">
                  </li>
                  <li>
                    <img src="../../../../../assets/imagenes/ProyectoInterior3_2.jpg">
                  </li>
                  <li>
                    <img src="../../../../../assets/imagenes/ProyectoInterior3_3.jpg">
                  </li>
                </ul>
              </div>
        </div>
    </div>
</div>