<div class="container">
    <div class="row">
        <div class="col s12">
            <h4 class="center-align">Constructora UdeC</h4>
        </div>
        <div class="row">
            <div class="col s6 offset-s3 center-align ">
                <p id="texto-nosotros">Somos una constructora orgullosamente Manizaleña comprometida con los sueños y los proyectos de vida de
                    todos sus clientes. Queremos que cuentes con nosotros para que puedas alcanzar tu meta más
                    importante: tu vivienda propia. Para esto trabajaremos arduamente como un equipo responsable,
                    honesto y eficiente que pondrá a tu disposición sus mejores herramientas y estrategias. Para
                    nosotros, hacer parte de tu vida y de tu hogar es nuestra mayor satisfacción y nuestra mejor
                    recompensa.
                    <br>
                    <br>
                    Somos confianza, seguridad y apoyo. Somos mirador de Castilla Constructora</p>
            </div>
        </div>
        <div class="row">
            <div class="col s6 offset-s3 center-align">
                <img class="responsive-img" src="../../../../assets/imagenes/ImagenNosotros.jpg">
            </div>
        </div>
    </div>
</div>