<div class="row">
  <form class="col s12" [formGroup]="fgValidador" (ngSubmit)="GuardadRegistro()">
    <div class="row">
      <div class="input-field col s12">
        <input formControlName="nombre" id="nombre_ciudad" type="text" class="validate">
        <label class="active" for="nombre">Nombre de la ciudad</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <div class="input-field">
          <select formControlName="paisSelect" id="paisId">
              <option *ngFor="let p of listaPais"  value="{{p.id}}">{{p.nombre}}</option>

          </select>
          <label class="active" for="paisSelect">País</label>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <br>
        <br>
        <br>
        <button class="waves-effect waves-tide btn blue accent-2" type="submit" name="action">Guardar
          <i class="material-icons right">save</i>
        </button>
        &nbsp;&nbsp;
        <a class="waves-effect waves-tide btn red" routerLink="/parametrizacion/listar-ciudades"><i
            class="material-icons right">cancel</i> Cancelar</a>
      </div>
    </div>
  </form>
</div>