<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h4 id="titulo-pagina" class="header">Algunos de nuestros proyectos</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s8">
            <img class="materialboxed responsive-img" width="650" src="../../../../../assets/imagenes/Proyecto 1.jpg">
        </div>
        <div id="texto-informacion" class="col s4 center-align">
            <h5 id="titulo-pagina">
                Mirador de Villa Pilar
            </h5>
            <table>
                <tbody>
                    <tr>
                        <th>
                            Ciudad:
                        </th>
                        <td>
                            Manizales
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Barrio:
                        </th>
                        <td>
                            Villa Pilar
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Tipo inmueble:
                        </th>
                        <td>
                            Apartamento
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Área construida:
                        </th>
                        <td>
                            55 m2
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="waves-effect waves-teal btn blue accent-2 boton" href="../proyectoVentaUno">Ver
                Proyecto</a>
        </div>
    </div>
    <div class="row">
        <div class="col s8">
            <img id="imagen" class="materialboxed responsive-img" width="650"
                src="../../../../../assets/imagenes/Proyecto 2.jpg">
        </div>
        <div id="texto-informacion" class="col s4 center-align">
            <h5 id="titulo-pagina">
                Altos de Palogrande
            </h5>
            <table>
                <tbody>
                    <tr>
                        <th>
                            Ciudad:
                        </th>
                        <td>
                            Manizales
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Barrio:
                        </th>
                        <td>
                            Palogrande
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Tipo inmueble:
                        </th>
                        <td>
                            Apartamento
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Área construida:
                        </th>
                        <td>
                            64 m2
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="waves-effect waves-teal btn blue accent-2 boton" href="../proyectoVentaDos">Ver
                Proyecto</a>
        </div>
    </div>
    <div class="row">
        <div class="col s8">
            <img id="imagen" class="materialboxed responsive-img" width="650"
                src="../../../../../assets/imagenes/Proyecto 3.jpg">
        </div>
        <div id="texto-informacion" class="col s4 center-align">
            <h5 id="titulo-pagina">
                Apartamento Árnika
            </h5>
            <table>
                <tbody>
                    <tr>
                        <th>
                            Ciudad:
                        </th>
                        <td>
                            Manizales
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Barrio:
                        </th>
                        <td>
                            Estrella
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Tipo inmueble:
                        </th>
                        <td>
                            Apartamento
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Área construida:
                        </th>
                        <td>
                            70 m2
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="waves-effect waves-teal btn blue accent-2 boton" href="../proyectoVentaTres">Ver
                Proyecto</a>
        </div>
    </div>
    <div class="row">
        <div class="col s8">
            <img id="imagen" class="materialboxed responsive-img" width="650"
                src="../../../../../assets/imagenes/Proyecto 4.jpg">
        </div>
        <div id="texto-informacion" class="col s4 center-align">
            <h5 id="titulo-pagina">
                Bosques de la Suiza
            </h5>
            <table>
                <tbody>
                    <tr>
                        <th>
                            Ciudad:
                        </th>
                        <td>
                            Manizales
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Barrio:
                        </th>
                        <td>
                            Alta Suiza
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Tipo inmueble:
                        </th>
                        <td>
                            Apartamento
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Área construida:
                        </th>
                        <td>
                            72 m2
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="waves-effect waves-teal btn blue accent-2 boton" href="../proyectoVentaCuatro">Ver Proyecto</a>
        </div>
    </div>
</div>