<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Información de Contacto</h5>
        <h6 class="grey-text text-lighten-4">Informes a:</h6>
        <p class="grey-text text-lighten-4">+57 321 7756506</p>
        <p class="grey-text text-lighten-4">+57 316 8564764</p>
        <p class="grey-text text-lighten-4">+57 322 6024911</p>
        <h6 class="grey-text text-lighten-4">E-mail:</h6>
        <p class="grey-text text-lighten-4">jeffrey.1701810987@ucaldas.edu.co</p>
        <h6 class="grey-text text-lighten-4">Ubicación:</h6>
        <p class="grey-text text-lighten-4">Carrera 27 # 14-30 Manizales</p>

      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Horarios de Atención</h5>
        <ul>
          <h6 class="grey-text text-lighten-4">Atención sala de ventas:</h6>
          <p class="grey-text text-lighten-4">Lunes a viernes 9:00 am a 12 pm
            y de 2:00 pm a 5:00 pm
          </p>
          <p class="grey-text text-lighten-4">Sábados, domingos y festivos de
            9:00 am a 5:00 pm jornada continua</p>
          <h6 class="grey-text text-lighten-4">Atención oficina:</h6>
          <p class="grey-text text-lighten-4">Lunes a Viernes: 8:00 am a 3pm 
            jornada continua</p>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2021 Copyright Algunos derechos reservados, asociados UdeC
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>