<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h4 id="titulo-pagina" class="header">Apartamentos Bosques de la Suiza</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s5 center-align">
            <h5 id="titulo-pagina">
                Ubicación y Valorización
            </h5>
            <p id="texto-informacion">Bosques de la Suiza está ubicado en un sector estratégico, cuenta en sus alrededores con todos los servicios que requiere la comunidad, siendo este un sector de gran valorización.</p>
        </div>
        <div class="col s7">
            <img class="materialboxed responsive-img" width="650" src="../../../../../assets/imagenes/Proyecto 4.jpg">
        </div>

    </div>
    <div class="row">
        <div class="col s12">
            <div class="col s4 center-align">
                <h4 id="titulo-pagina"><strong>Salón Social</strong></h4>
                <h5><strong>Donde puedes disfrutar de las mejores reuniones</strong></h5>
            </div>
            <div class="col s4 center-align">
                <h4 id="titulo-pagina"><strong>Ascensor</strong></h4>
                <h5><strong>Para desplazarte de manera rápida y segura</strong></h5>
            </div>
            <div class="col s4 center-align">
                <h4 id="titulo-pagina"><strong>Ubicación</strong></h4>
                <h5><strong>Cuenta con una ubicación estratégica en la ciudad</strong></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="slider">
                <ul class="slides">
                  <li>
                    <img src="../../../../../assets/imagenes/ProyectoInterior4_1.jpg">
                  </li>
                  <li>
                    <img src="../../../../../assets/imagenes/ProyectoInterior4_2.jpg">
                  </li>
                  <li>
                    <img src="../../../../../assets/imagenes/ProyectoInterior4_3.jpg">
                  </li>
                </ul>
              </div>
        </div>
    </div>
</div>
