<div class="container">
    <div class="row">
        <div class="col s12">
            <br>
        </div>
    </div>
    <div class="row">
        <div id="texto-servicio" class="col s4">
            <h6 id="titulo-servicio" class="center-align">Reformas de viviendas</h6>
            <p id="icono-servicios">Tenemos en cuenta sus necesidades dando solución en todos los ámbitos que su hogar necesite.</p>
        </div>
        <div id="texto-servicio" class="col s4">
            <h6 id="titulo-servicio" class="center-align">Steel Framing</h6>
            <p id="icono-servicios">Poseemos un sistema industrializado, que sistematizan y ordenan los procesos de la obra para optimizar tiempos y costos, a la vez que garantizan la calidad final de la vivienda y cada uno de sus componentes.</p>
        </div>
        <div id="texto-servicio" class="col s4">
            <h6 id="titulo-servicio" class="center-align">Oficinas</h6>
            <p id="icono-servicios">Le ofreceremos distintas opciones y le aconsejaremos, siempre teniendo en cuenta las últimas tendencias y novedades del mercado, para obtener un mayor resultado y un diseño novedoso y actual.</p>
        </div>
    </div>
    <div class="row">
        <div id="texto-servicio" class="col s4">
            <h6 id="titulo-servicio" class="center-align">Locales comerciales</h6>
            <p id="icono-servicios">Ofrecemos el mejor precio y servicio para la compra de oficinas y locales
                comerciales.
                Nos encargamos de la reforma integral de su local desde la electricidad hasta la pintura y la
                decoración.</p>
        </div>
        <div id="texto-servicio" class="col s4">
            <h6 id="titulo-servicio" class="center-align">Vivienda sostenible</h6>
            <p id="icono-servicios">Desarrollo de viviendas que respondan a un estilo de vida que apunta hacia la
                sostenibilidad y al menor impacto ambiental.</p>
        </div>
        <div id="texto-servicio" class="col s4">
            <h6 id="titulo-servicio" class="center-align">Vivienda tecnológica</h6>
            <p id="icono-servicios">Es un servicio que ofrece a los clientes la oportunidad de incluir en sus
                viviendas tecnología de punta, como iluminación led, automatización de viviendas, entre otros.</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <img id="imagen-servicios" class="responsive-img" src="../../../../assets/imagenes/imagenServicios.jpg">
        </div>
    </div>
</div>